<%= form_with url: cards_path, method: :get, class: "flex flex-column full-width popup__list",
      data: { controller: "form" } do |form| %>
  <% filter.as_params.except(:collection_ids).each do |key, value| %>
    <%= filter_hidden_field_tag key, value %>
  <% end %>

  <% Current.user.collections.order(:name).each do |collection| %>
    <div class="popup__group flex align-center full-width gap-half">
      <div class="btn txt-xx-small">
        <%= form.check_box "collection_ids[]", {
              checked: filter.collections.include?(collection),
              data: { action: "change->form#submit" },
              include_hidden: false,
        }, collection.id %>

        <span class="for-screen-reader">
          Toggle filter for <%= collection.name %>
        </span>
        <%= icon_tag "check", size: 18, class: "checked flex-item-justify-end" %>
      </div>

      <%= link_to cards_path(collection_ids: [ collection ]), class: "btn popup__item flex-item-grow justify-space-between" do %>
        <span class="overflow-ellipsis flex-item-grow"><%= collection.name %></span>
        <span class="translucent"> ›</span>
      <% end %>
    </div>
  <% end %>
<% end %>
