<nav class="align-start">
  <%= link_to_home %>

  <div class="btn btn--placeholder"></div>
  <div class="btn btn--placeholder flex-item-justify-start"></div>

  <header class="flex flex-inline flex-column center flex-shrink">
    <div class="card-filter--collection flex-inline center position-relative" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
      <button class="txt-align-center input input--select borderless center txt-medium" data-action="click->dialog#open:stop">
        <h1 class="txt-large overflow-ellipsis margin-none">
          <%= filter_title filter %>
        </h1>
      </button>

      <dialog class="events__popup popup popup--animated panel flex-column align-start gap-half fill-white shadow" data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
        <div class="flex align-center full-width gap-half">
          <span class="btn borderless" style="pointer-events: none; --icon-size: 1.3em; --btn-padding: 0 0.6em 0 0.3em;">
            <%= icon_tag "filter" %>
          </span>
          <strong class="popup__title txt-medium">Collections</strong>
        </div>

        <%= render "cards/index/collections_filter", filter: filter %>
      </dialog>
    </div>
  </header>

  <% if collection = filter.single_collection %>
    <div class="flex-item-justify-end">
      <%= access_involvement_advance_button collection, Current.user %>
    </div>

    <%= link_to edit_collection_path(collection), class: "btn" do %>
      <%= icon_tag "settings" %>
      <span class="for-screen-reader">Settings for <%= collection.name %></span>
    <% end %>

    <%= button_to collection_cards_path(collection), method: :post, class: "btn" do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Create a new card</span>
    <% end %>
  <% else %>
    <div class="btn btn--placeholder flex-item-justify-end"></div>
    <div class="btn btn--placeholder"></div>
  <% end %>
</nav>
