<div class="card__meta flex txt-tight-lines txt-uppercase">
  <div class="flex flex-column gap txt-align-end">
    <span class="pad-inline overflow-ellipsis"><%= bubble.creating? ? "Added" : "Updated" %>
      <%= local_datetime_tag(bubble.updated_at, style: :daysAgo) %>
    </span>

    <hr class="full-width separator--horizontal unpad margin-none">

    <% if bubble.creating? %>
      <span class="pad-inline overflow-ellipsis">Expires
        <%= local_datetime_tag(bubble.auto_pop_at, style: :daysAgo) %>
      </span>
    <% else %>
      <span class="pad-inline overflow-ellipsis">Added
        <%= local_datetime_tag(bubble.created_at, style: :daysAgo) %>
      </span>
    <% end %>
  </div>

  <hr class="separator margin-none unpad">

  <div class="flex flex-column gap txt-align-start">
    <span class="pad-inline overflow-ellipsis">
      <strong><%= bubble.comments_count %></strong> <%= bubble.comments_count == 1 ? "comment" : "comments" %>
    </span>

    <hr class="full-width separator--horizontal unpad margin-none">

    <%= render "bubbles/boosts", bubble: bubble %>
  </div>
</div>
