<% presenter = CollectionFilterPresenter.new(@collections, params, cookies) %>
<div class="position-relative max-width margin-block-end-half"
		data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
	<button class="events__filter-btn input input--select flex-inline center min-width max-width txt-small" data-action="click->dialog#open:stop">
		<span class="overflow-ellipsis center">
			<%= presenter.filter_text %>
		</span>
	</button>

	<dialog class="events__popup popup panel flex-column full-width align-start gap-half fill-white shadow"
				style="z-index: 5;" data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
		<strong class="popup__title margin-block-start-half pad-inline-half txt-nowrap">Filter by Collection…</strong>
		<%= form_with url: events_path, method: :get, class: "flex flex-column full-width popup__list",
					data: { controller: "form" } do |form| %>
			<%= link_to "Show everything", events_path(clear_filter: true), class: "btn popup__item txt-nowrap" %>
			<% @collections.each do |collection| %>
				<div class="btn popup__item">
					<%= form.check_box "collection_ids[]", {
						checked: (params[:collection_ids] || cookies[:collection_filter]&.split(","))&.include?(collection.id.to_s),
						data: { action: "change->form#submit" },
						include_hidden: false,
					}, collection.id %>

					<%= form.label "collection_ids[]", collection.name, for: dom_id(collection, :filter), class: "overflow-ellipsis" %>
					<%= icon_tag "check", class: "checked flex-item-justify-end" %>
				</div>
			<% end %>
		<% end %>
	</dialog>
</div>
