<% @page_title = "Projects" %>

<% content_for :header do %>
  <nav>
    <%= button_to session_path, method: :delete, class: "btn", form_class: "flex-item-justify-start" do %>
      <%= image_tag "logout.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Sign out</span>
    <% end %>

    <%= link_to new_project_path, class: "btn flex-item-justify-end" do %>
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Add a new project</span>
    <% end %>
  </nav>
<% end %>

<menu class="projects margin-none unpad align-center justify-center flex flex-wrap gap">
  <% @projects.each do |project| %>
    <li class="project flex flex-column txt-align-center gap-half">
      <div class="project__windshield position-relative flex gap justify-center align-center border-radius"  style="view-transition-name: windshield_<%= project.id %>">
        <% project.bubbles.left_joins(:comments, :boosts).group(:id).order(Arel.sql("COUNT(comments.id) + COUNT(boosts.id) DESC")).limit(10).each do |bubble| %>
          <div class="bubble" style="--bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %>">
            <svg class="bubble__svg" style="fill: <%= bubble.color %>; stroke: <%= bubble.color %>;" viewBox="0 0 990 990" xmlns="http://www.w3.org/2000/svg">
              <path d="m0 0h990v990h-990z" fill="none" stroke="none" />
              <path d="m391.65 879.47c-110.52-15.95-212.21-91.86-255.92-191.23-66.78-143.65-41.62-347.61 48.08-481.17 368.33-516.3 1252.97 520.2 451.03 660.78-44.07 8.84-88.98 13.49-133.01 15.68-36.69 2-73.37 1.91-109.99-4.03z"/>
            </svg>
          </div>
        <% end %>
        <%= link_to project.name, project_bubbles_path(project), class: "windshield__link" %>
      </div>
      <strong><%= link_to project.name, project_bubbles_path(project), class: "txt-medium txt-ink" %></strong>
    </li>
  <% end %>
</menu>
