<% @page_title = "Projects" %>

<% content_for :header do %>
  <nav>
    <%= link_to account_users_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "settings.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Account settings</span>
    <% end %>

    <%= link_to new_bucket_path, class: "btn flex-item-justify-end", style: "view-transition-name: new-bucket" do %>
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Add a new project</span>
    <% end %>
  </nav>
<% end %>

<div class="buckets margin-block-double unpad align-start justify-center flex flex-wrap gap">
  <%= render @buckets, cached: true %>
</div>
<div class="buckets margin-block-double unpad align-start justify-center flex flex-wrap gap">
  <%= render @filters %>
</div>

<%= notification_tray_tag %>
